.buttonhover:hover{
  background-color: aqua;
}
input[type=text],
input[type=password],
input[type=email]{
    /* border: 2px solid aquamarine; */
    width: 100%;
    font-size: 28px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.errorMessage{
  display: flex;
  align-items: center;
justify-content: center;
}